/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*-------Reset ends here--------*/


/*
    =========================================
            Box Layout
    =========================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Body styles */


/* Helper classes*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    clear: both;
    *zoom: 1;
}


/*
    =========================================
            Header Section
    =========================================
*/

.head-div {
    background: -webkit-linear-gradient(to right, rgb(129, 129, 129), rgb(129, 129, 129), rgb(210, 210, 210));
    background: -moz-linear-gradient(to right, rgb(129, 129, 129), rgb(129, 129, 129), rgb(210, 210, 210));
    background: linear-gradient(to right, rgb(129, 129, 129), rgb(129, 129, 129), rgb(210, 210, 210));
    height: 80px;
    width: 100%;
    box-shadow: 0px 5px 2px #888888;
    z-index: 20;
}


/* Logo Styles*/

.store-logo {
    padding-bottom: 5px;
    border-radius: 10px;
    float: left;
}

.store-logo:hover {
    border: 2px solid #fff;
}

.store-logo img {
    padding-bottom: 5px;
    height: 60px;
}

.nav-small-devices {
    background: content-box;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin-right: 10px;
}

.nav-small-devices:hover {
    background: border-box;
    background-color: #54a8c0;
    cursor: pointer;
}


/* makes header responsive*/

@media only screen and (max-width: 500px) {
    .navig {
        display: none;
    }
}

@media only screen and (min-width: 500px) {
    .navig2 {
        display: none;
    }
}

.navig2 {
    padding-top: 12px;
    float: right;
}

.dropbtn:hover {
    border: 1px solid #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.show {
    display: block;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background: gray;
    color: white;
    padding: 12px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* Navigation elements */

.navig {
    margin-top: 10px;
    text-align: right;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.navig li {
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}

.navig li a {
    text-decoration: none;
    color: white;
}

.navig li a:hover {
    text-decoration: none;
    color: #54a8c0;
}

.navig li:last-child {
    margin-right: 10px;
}


/*
    =========================================
                Footer section
    =========================================
*/

.footer-div {
    background: -webkit-linear-gradient(to right, rgb(129, 129, 129), rgb(235, 235, 235), rgb(129, 129, 129));
    background: -moz-linear-gradient(to right, rgb(129, 129, 129), rgb(235, 235, 235), rgb(129, 129, 129));
    background: linear-gradient(to right, rgb(129, 129, 129), rgb(235, 235, 235), rgb(129, 129, 129));
    height: 90px;
    box-shadow: 0px -5px 2px #888888;
    position: fixed;
    width: 100%;
    text-align: center;
    left: 0;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #54a8c0;
    right: 0;
    bottom: 0;
    z-index: 20;
}

.footer-items {
    padding-top: 1px;
}

.icons {
    width: 200px;
    margin: 2px auto 0 auto;
}

.icons a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 10px;
    vertical-align: middle;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.icons a.twitter {
    background: url(../images/img/social-icons/twitter.png) left top no-repeat;
}

.icons a.facebook {
    background: url(../images/img/social-icons/facebook.png) left top no-repeat;
}

.icons a.github {
    background: url(../images/img/social-icons/github.png) left top no-repeat;
}

.icons a.linkedin {
    background: url(../images/img/social-icons/linkedin.png) left top no-repeat;
}

.icons a:hover {
    background-position: left -34px;
}


/*
    =========================================
                Login body section
    =========================================
*/

.main-div {
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
    align-content: center;
}

.login-div {
    display: inline-block;
    padding-top: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 250px;
    width: 100%;
    max-width: 500px;
    margin-top: 80px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0px 8px 16px 0px rgba(31, 73, 125, 0.7);
}

.login-group {
    margin-top: 15px;
}

.login-group label {
    color: white;
    cursor: pointer;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.login-group input {
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    display: block;
    margin: 5px 3px 20px 8px;
    padding: 5px 8px;
    width: 95%;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.login-group input:focus {
    border: 2px solid #fff;
    background-color: #54a8c0;
    color: #fff;
    font-weight: bold;
}


/*My buttons*/

.btn {
    border-radius: 5px;
    display: inline-block;
    margin-top: 12px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: .5px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.btn-alt {
    border: 1px solid #fff;
    background: #54a8c0;
    background-color: #54a8c0;
    padding: 10px 30px;
}

.btn-alt:hover {
    background: #fff;
    border: 2px solid #54a8c0;
    color: #648880;
}


/*
    =========================================
                Landing body section
    =========================================
*/

.landing-main-div {
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
}

.landing-div {
    display: inline-block;
    padding-top: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 400px;
    width: 100%;
    max-width: 700px;
    margin-top: 20px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 8px 16px 0px rgba(31, 73, 125, 0.7);
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.landing-div h2 {
    color: #fff;
    font-weight: bold;
    letter-spacing: .5px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 50px;
    text-shadow: 1px 3px 0px rgba(31, 73, 125, 0.7);
}

.landing-div p {
    color: #fff;
    font-weight: 200px;
    letter-spacing: .5px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    text-shadow: 1px 2px 0px rgba(31, 73, 125, 0.7);
}

#landing-button {
    margin-top: 50px;
    width: 150px;
    height: 70px;
    font-size: 20px;
}


/*
    =========================================
                dash body section
    =========================================
*/

.dash-main-div {
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
    display: inline-block;
    vertical-align: top;
}

.dash-div {
    float: left;
    display: inline-block;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 300px;
    width: 20px;
    min-width: 250px;
    margin-top: 20px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 70px;
    box-shadow: 0px 8px 16px 0px rgba(31, 73, 125, 0.7);
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.dash-div h2 {
    color: #fff;
    font-weight: bold;
    letter-spacing: .5px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 50px;
    text-shadow: 1px 3px 0px rgba(31, 73, 125, 0.7);
}

.dash-div p {
    color: #fff;
    font-weight: 200px;
    letter-spacing: .5px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    text-shadow: 1px 2px 0px rgba(31, 73, 125, 0.7);
}

#dash-button {
    margin-top: 20px;
    width: 150px;
    height: 70px;
    font-size: 18px;
}

.dash-heading {
    color: aliceblue;
    font-weight: bold;
    letter-spacing: .5px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-shadow: 1px 3px 0px rgba(31, 73, 125, 0.7);
}


/*
    =========================================
                General sales body section
    =========================================
*/

.general-main-div {
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
}

.general-div {
    display: inline-block;
    padding-top: 5px;
    background-color: whitesmoke;
    min-height: 400px;
    width: 100%;
    max-width: 900px;
    margin-top: 20px;
    color: rgb(80, 80, 80);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 8px 16px 0px rgba(31, 73, 125, 0.7);
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.day-total-sales-item {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 96%;
    box-shadow: 0px 3px 5px 0px rgba(31, 73, 125, 0.7);
}

.day-entry {
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    margin: 0px, 20px;
    vertical-align: top;
    padding-right: 20px;
    font-weight: bold;
}

.general-sales-title {
    color: #fff;
    font-weight: bold;
    letter-spacing: .5px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 5px;
    text-shadow: 1px 3px 0px rgba(31, 73, 125, 0.7);
}

.next-prev {
    padding-top: 5px;
    padding-bottom: 10px;
}

.next-prev button {
    background: rgb(129, 129, 129);
    border-radius: 10px;
    margin-top: 12px;
    width: 100px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: .5px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.next-prev button:hover {
    background: #fff;
    border-radius: 10px;
    margin-top: 12px;
    width: 100px;
    color: rgb(129, 129, 129);
    cursor: pointer;
    font-weight: bold;
    letter-spacing: .5px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.general-sales-header {
    text-align: left;
    margin-bottom: 50px;
}

#head-item {
    display: inline-block;
    vertical-align: top;
}

.head-form {
    float: right;
}

#search-item {
    display: inline-block;
}

.search-group input {
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    display: block;
    margin-right: 15px;
    padding: 5px 8px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.search-group input:focus {
    border: 2px solid #fff;
    background-color: #54a8c0;
    color: #fff;
    font-weight: bold;
}


/*
    =========================================
                View person body section
    =========================================
*/

.person-main-div {
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
}

.person-div {
    display: inline-block;
    padding-top: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 300px;
    width: 100%;
    max-width: 700px;
    margin-top: 80px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0px 8px 16px 0px rgba(31, 73, 125, 0.7);
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.person-div h4{
    color: #fff;
    font-weight: bold;
    letter-spacing: .5px;   
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 3px 0px rgba(31, 73, 125, 0.7);
}

.view-item-div{
    margin-bottom: 10px; 
}
.view-item-div .title-label{
    font-size: 16px;
    font-weight: bold;
}
    
.view-item-div .body-label{
    font-weight: 300;
}

#person-button-delete{
    background: rgba(248,50,144);
}
#person-button-delete:hover{
    background: #fff;
    border: 2px, solid, rgba(248,50,144);
}

/*
    =========================================
                edit user body section
    =========================================
*/
.edit-div {
    display: inline-block;
    padding-top: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 250px;
    width: 100%;
    max-width: 500px;
    margin-top: 80px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0px 8px 16px 0px rgba(31, 73, 125, 0.7);
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.edit-div h2{
    color: #fff;
    font-weight: bold;
    letter-spacing: .5px;   
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 3px 0px rgba(31, 73, 125, 0.7);
}

.edit-div .btn{
    margin-bottom:20px; 
}

/* View sales styles */
.view-sales-div {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 30px;
    background-color: whitesmoke;
    min-height: 400px;
    width: 100%;
    max-width: 90%;
    margin-top: 20px;
    color: rgb(80, 80, 80);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 8px 16px 0px rgba(31, 73, 125, 0.7);
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.sale-body{
    font-weight: 400;
}

