<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Store Manager - Daily Sales</title>
    <!--  Sets an image as your pages icon -->
    <link rel=" icon" href="..templates/images/title-icon.png">
    <link rel="stylesheet" href="css/mystyles.css">
    <script src="js/myjs.js"></script>
</head>

<body>
    <header class="head-div clearfix">
        <div class="store-logo">
            <img src="..templates/images/one-icon.png" alt="STACK OVERFLOW LITE">
        </div>
        <nav class="navig">
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Log Out</a></li>
            </ul>
        </nav>
        <nav class="navig2">
            <div class="dropdown">
                <button class="nav-small-devices dropbtn" onclick="myFunction()">&#9776;</button>
                <div class="dropdown-content" id="myDropdown">
                    <a href="#">About Us</a>
                    <a href="#">Help</a>
                    <a href="#">Log Out</a>
                </div>
            </div>
        </nav>
    </header>
    <section class="general-main-div">
        <div class="general-div">
            <div class="general-sales-header">
                <h4 class="general-sales-title" id="head-item">Stores daily sales.</h4>
                <form id="head-item" class="head-form" action="#" method="#">
                    <fieldset id="head-set" class="search-group">
                        <input id="search-item" class="search-field" type="text" name="name" placeholder="(DD/MM/YYYY)">
                        <input id="search-item" class="btn btn-alt" type="submit" name="submit" value="Search">
                    </fieldset>
                </form>
            </div>
            <div class="day-total-sales-item">
                <div class="day-entry">
                    <label>13/4/2018</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Total sales:</label>
                    <label class="sale-body">Ksh 150,000</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Total items sold:</label>
                    <label class="sale-body">77 items</label>
                </div>
                <a href="../templates/daily_sales_per_attendant.html" class="btn btn-alt">View More</a>

            </div>


            <!--Day Two-->
            <div class="day-total-sales-item">
                <div class="day-entry">
                    <label>12/4/2018</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Total sales:</label>
                    <label class="sale-body">Ksh 200,000</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Total items sold:</label>
                    <label class="sale-body">160 items</label>
                </div>

                <button class="btn btn-alt">View More</button>

            </div>

            <!--Day Three-->
            <div class="day-total-sales-item">
                <div class="day-entry">
                    <label>11/4/2018</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Total sales:</label>
                    <label class="sale-body">Ksh 200,000</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Total items sold:</label>
                    <label class="sale-body">160 items</label>
                </div>

                <button class="btn btn-alt">View More</button>

            </div>

            <!--Day Four-->
            <div class="day-total-sales-item">
                <div class="day-entry">
                    <label>10/4/2018</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Total sales:</label>
                    <label class="sale-body">Ksh 200,000</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Total items sold:</label>
                    <label class="sale-body">160 items</label>
                </div>

                <button class="btn btn-alt">View More</button>

            </div>



            <div class="next-prev">
                <button>Previous</button>
                <button>Next</button>
            </div>

        </div>

    </section>
    <footer class="footer-div">
        <div class="icons">
            <a class="github" href=""></a>
            <a class="facebook" href=""></a>
            <a class="twitter" href=""></a>
            <a class="linkedin" href=""></a>
        </div>
        <div class="footer-items">
            <p>@Andela_Kenya Bootcamp Cycle 33</p>
            <p>&copy; Etomovich Productions 2018</p>
        </div>
    </footer>
</body>

</html>