<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Store Manager - Shopping Cart</title>
    <!--  Sets an image as your pages icon -->
    <link rel=" icon" href="..templates/images/title-icon.png">
    <link rel="stylesheet" href="css/mystyles.css">
    <script src="js/myjs.js"></script>
</head>

<body>
    <header class="head-div clearfix">
        <div class="store-logo">
            <img src="..templates/images/one-icon.png" alt="STACK OVERFLOW LITE">
        </div>
        <nav class="navig">
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Log Out</a></li>
            </ul>
        </nav>
        <nav class="navig2">
            <div class="dropdown">
                <button class="nav-small-devices dropbtn" onclick="myFunction()">&#9776;</button>
                <div class="dropdown-content" id="myDropdown">
                    <a href="#">About Us</a>
                    <a href="#">Help</a>
                    <a href="#">Log Out</a>
                </div>
            </div>
        </nav>
    </header>

    <section class="cart-main-div">
        <div class="cart-div">
            <h2>Search Item.</h2>
            <form action="#" method="#">
                <fieldset class="login-group">
                    <label>
                        Category Name
                        <input type="text" name="name" placeholder="(Enter Category)" required>
                    </label>
                    <label>
                        Product Name
                        <input type="text" name="name" placeholder="(Partial or full product Name)" required>
                    </label>
                    <label>
                        Item Serial No
                        <input type="text" name="name" placeholder="(Product Serial No)" required>
                    </label>
                </fieldset>
                <input id="cart-button" class="btn btn-alt" type="submit" name="submit" value="Search">
            </form>
        </div>
        <div class="cart-div">
            <h2>Search Results.</h2>
            <div class="day-entry">
                <label class="sale-head">Item ID:</label>
                <label class="sale-body">3022</label>
            </div>
            <div class="day-entry">
                <label class="sale-head">Item Name:</label>
                <label class="sale-body">Kiwi 300g</label>
            </div>
            <div class="day-entry">
                <label class="sale-head">Serial No:</label>
                <label class="sale-body">34577uttrtr</label>
            </div>
            <br>
            <input id="cart-button" class="btn btn-alt" type="submit" name="submit" value="Add">
        </div>
    </section>
    <section class="general-main-div">
        <div class="general-div">
            <div class="general-sales-header">
                <h4 class="general-sales-title" id="head-item">Shopping Cart Items.</h4>
            </div>
            <div class="day-total-sales-item">
                <div class="day-entry">
                    <label class="sale-head">Item ID:</label>
                    <label class="sale-body">3022</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Item Name:</label>
                    <label class="sale-body">Kiwi 300g</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Serial No:</label>
                    <label class="sale-body">34577uttrtr</label>
                </div>
                <button class="btn btn-alt" id="person-button-delete">Remove</button>
            </div>

            <div class="next-prev">
                <button>Make Sale</button>
            </div>
        </div>
    </section>


    <footer class="footer-div">
        <div class="icons">
            <a class="github" href=""></a>
            <a class="facebook" href=""></a>
            <a class="twitter" href=""></a>
            <a class="linkedin" href=""></a>
        </div>
        <div class="footer-items">
            <p>@Andela_Kenya Bootcamp Cycle 33</p>
            <p>&copy; Etomovich Productions 2018</p>
        </div>
    </footer>
</body>

</html>