<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Store Manager - View Inventory</title>
    <!--  Sets an image as your pages icon -->
    <link rel=" icon" href="..templates/images/title-icon.png">
    <link rel="stylesheet" href="css/mystyles.css">
    <script src="js/myjs.js"></script>
</head>

<body>
    <header class="head-div clearfix">
        <div class="store-logo">
            <img src="..templates/images/one-icon.png" alt="STACK OVERFLOW LITE">
        </div>
        <nav class="navig">
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Log Out</a></li>
            </ul>
        </nav>
        <nav class="navig2">
            <div class="dropdown">
                <button class="nav-small-devices dropbtn" onclick="myFunction()">&#9776;</button>
                <div class="dropdown-content" id="myDropdown">
                    <a href="#">About Us</a>
                    <a href="#">Help</a>
                    <a href="#">Log Out</a>
                </div>
            </div>
        </nav>
    </header>
    <section class="general-main-div">
        <div class="view-sales-div">
            <div class="general-sales-header">
                <h4 class="general-sales-title" id="head-item">View Inventory Items.</h4>
                <form id="head-item" class="head-form" action="#" method="#">
                    <fieldset id="head-set" class="search-group">
                        <input id="search-item" class="search-field" type="text" name="name" placeholder="(Search Item Serial No)">
                        <input id="search-item" class="btn btn-alt" type="submit" name="submit" value="Search">
                    </fieldset>
                </form>
            </div>
            <div class="day-total-sales-item">
                <div class="day-entry">
                    <label class="sale-head">Item ID:</label>
                    <label class="sale-body">3002</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Item Name:</label>
                    <label class="sale-body">Kiwi 300g</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Serial No:</label>
                    <label class="sale-body">2r34k5k6k44</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">State:</label>
                    <label class="sale-body">SOLD</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Sold On:</label>
                    <label class="sale-body">13/4/2018</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Expiration:</label>
                    <label class="sale-body">20/5/2022</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Date Bought:</label>
                    <label class="sale-body">10/3/2018</label>
                </div>

            </div>
            <div class="day-total-sales-item">
                <div class="day-entry">
                    <label class="sale-head">Item ID:</label>
                    <label class="sale-body">3022</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Item Name:</label>
                    <label class="sale-body">Kiwi 300g</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Serial No:</label>
                    <label class="sale-body">34577uttrtr</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">State:</label>
                    <label class="sale-body">SOLD</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Sold On:</label>
                    <label class="sale-body">13/4/2018</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Expiration:</label>
                    <label class="sale-body">20/5/2022</label>
                </div>
                <div class="day-entry">
                    <label class="sale-head">Date Bought:</label>
                    <label class="sale-body">10/3/2018</label>
                </div>

            </div>





            <div class="next-prev">
                <button>Previous</button>
                <button>Next</button>
            </div>

        </div>

    </section>
    <footer class="footer-div">
        <div class="icons">
            <a class="github" href=""></a>
            <a class="facebook" href=""></a>
            <a class="twitter" href=""></a>
            <a class="linkedin" href=""></a>
        </div>
        <div class="footer-items">
            <p>@Andela_Kenya Bootcamp Cycle 33</p>
            <p>&copy; Etomovich Productions 2018</p>
        </div>
    </footer>
</body>

</html>